Let frontend use export result filenames from conversion service

The front-end needs a filename to store the export result (ZIP files) it downloads from the conversion service. The conversion service already generates a (somewhat) useful filename.

- let the service communicate the filename alongside the file content in a HTTP compliant way:
  - [ ] **optional**: let the URL end with the filename
  - [x] make sure the HTTP headers include the filename according to [RFC 6266 Section 4.3](https://tools.ietf.org/html/rfc6266#section-4.3)
- use those informations in the front-end for storing the downloads (and for serving them to users)
  - [ ] get the filename according to RFC 6266 Section 4.3
    - beware of the different variants (unquoted token, quoted string (which may contain whitespace and quoted single characters), `filename`, `filename*`)
    - [ ] sanitize the filename according to [RFC 6266 Section 7](https://tools.ietf.org/html/rfc6266#section-7)
    - [ ] **optional**: fallback to last part of URL
    - [ ] locally-generated fallback in case all of the above fail

I've asked on Software Recommendations Stack Exchange about the client (front-end) part of this: [Python library to get filename of content downloaded with HTTP](http://softwarerecs.stackexchange.com/questions/31836/python-library-to-get-filename-of-content-downloaded-with-http)

This issue has been solved using other means (no more direct download through Django).